// Specific CSS for your home-page
*{
  margin: 0 auto;
  font-family: 'Poppins', sans-serif;
  background-color: white;
}

body{
  background: white;;
}

h1,h3{
  font-weight: bold;
}

h1{
  font-size: 46px;
}
.container-box-4 h1 {
  padding-top:10px;
  font-size: 24px;
}

.container-box-flex h4 {
  padding-top:10px;
  font-size: 24px;
}
.container-box-flex p {
  font-size: 15px;
}

.container-box-flex.booking-card{
  border-radius: 5px;
  border: 1px solid black;
}


.container-box-4 p {
  padding-top:5px;
  font-size: 12px;
  font-weight: lighter;
}

h2{
  font-weight: 400;
  font-size: 20px;
  padding-left: 150px;
}

h3{
  margin-top: 15px;
}

// .navigation {
//   width:80%;
//   margin-top: 20px;
//   margin-bottom: 20px;
//   height: 50px;
//   background-color: white;
// }

// .navigation a{
//   text-decoration:none;
// }

// .navigation  li{
//   display:inline;
//   padding: 0 20px 0 20px;
// }
// .navigation  li .search_bar{
//   padding: 5px 30px;
//   border-radius: 0px;
// }

// .navigation  #branding{
//   float:left;
//   padding-left: 20px;
//   margin-top:15px;
// }

// .navigation  #branding h1{
// 	font-size:14px;
// 	margin-top:15px;
// }

// .navigation  nav{
//   float:right;
//   margin-top:15px;
//   font-size:14px;
// }

// .navigation  .highlight, .navigation  .current a{
//   color:rgb(36, 87, 6);
// }

// .navigation  a:hover{
//   color:#000000;
//   font-size: 14px;
//   text-decoration: none
// }

.banner{
  display: flex;
  position: relative;
  align-items: center;
  width: 1000px;
  height: 50vh;
  z-index: 1;
}
.container-box1{
  width: 40%;
  z-index: 3;
}
.container-box2{
  width: 20%;
  padding-bottom: 150px;
  z-index: 1;
}

.container-box2 img{
  position: absolute;
  width:40%;
  right:50px;
  top:40px;
}

.container li {
  display: inline;
  border: 1px solid grey;
}

.container-box{
  width: 1000px;
  margin:20px auto;
  display: block;
  z-index: 3;
}

.container-box-4{
  width: 1000px;
  margin:20px auto;
  display: block;
  z-index: 3;
}

.form {
  margin-top: 50px;
  padding-left: 20px;
}

#submit{
  border-radius: 20px;
  padding: 16px 25px;
  margin: -30px;
  border: 0px;
  background:rgb(14, 14, 14);
  color: white;
}

.cards1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
  padding: 100px 0;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  margin-bottom: 10px;
  padding: 100px 0;
}


.card-category {
  background-size: cover;
  background-position: center;
  height: 160px;
  width: 200px;
  padding:30px;
  display: flex;
  color:white;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  border-radius: 10px;
  text-transform: capitalize;
}

.card{
  border:0px solid;
  margin: 10px;
  background: white;
  height:400px;
  border-radius:10px;
  box-shadow:
  0 12.5px 10px rgba(0, 0, 0, 0.035),
  0 100px 80px rgba(0, 0, 0, 0.07);
}
.card-img-top{
  text-align: center;
  background: rgb(240, 239, 239);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;

}
.card-img-top img{
  background:rgb(240, 239, 239) ;

}

.card-title a{
  color:black;
}

.btn {
  padding: 5px 25px;
  border-radius: 5px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(7, 5vw);
    grid-gap: 15px;
    margin: 0 auto;
    text-align: center;
    width: 80%;

}

.galleryflex {
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
}

.container-box-flex{
  display: flex;
  justify-content: space-between;
  width: 1000px;
}

a.text-decoration-none {
  font-size:30px;
}



/*.gallery__item--2 {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 4;
}
.gallery__item--3 {
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 4;
}
.gallery__item--4 {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 4;
    grid-row-end: 7;
}
.gallery__item--5 {
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 4;
    grid-row-end: 7;
}
*/
.goat-board {
    width: 80%;
}
hr.solid {
    border-top: 3px solid #bbb;
  }

.formsearch{
  display: flex;
}


.fas .fa-birthday-cake, .far .fa-dot-circle{
  margin-right:20px;
}

.bookings-container-box h1 {
  text-align: center;
}


