@import "new";
* {
  background-color:  rgb(240,240,240);
}

.index {

  margin: auto;
  width: 800px;
}

.space {
  background-color: white;
  height: 20px;
}

.center {

  a {

  font-size: 30px;
  text-decoration: none;
  color: black
  }
}
