<div class="footer">

  <div class="footer-links">
    <a href="https://github.com/clemcheyrou/BoucIng"><i class="fab fa-github"></i></a>
    <a href="https://www.instagram.com/world_goats/?hl=fr"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com/groups/720464345102058"><i class="fab fa-facebook"></i></a>

  </div>

  <div class="footer-copyright">
    <strong>Bouc-ing ©</strong> - This footer is goat's friendly
  </div>

</div>
