.card{
  background-size: cover;
  background-position: center;
  height: 300px;
  // width: 40%;
  border-radius: 4px;

  margin: 15px 10px;
  display: flex;
  align-items: center;
  text-transform: capitalize;
}

.content {
  min-height: 100vh;
}

.card-image {
  height: 200px;
  // background-image: url(asset-path("fight.jpeg"));
  // background-size: cover;
}
.card-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
 }

.card-info {
  h3 {
    color: black;
  }
  padding-left: 20px;
  padding-left: 20px;
  p {
    color: black;
  }
}

#map{
  min-height: 100vh;
}

.container_card{
  display: flex;
}


.card-category a{
  color: white;
}
