.cards {
  background-size: cover;
  background-position: center;
  height: 300px;
  // width: 40%;
  // border-radius: 10px;
  margin: 10px;
  display: flex;
  align-items: center;
  text-transform: capitalize;
}

// .card {
//   border-radius: 20px;
//   border:0px solid;
//   margin: 10px;
//   height: 400px;
//   box-shadow:
//   0 12.5px 10px rgba(0, 0, 0, 0.035),
//   0 100px 80px rgba(0, 0, 0, 0.07);
// }

.content {
  min-height: 100vh;
  h1 {
    margin-left: 80px;
    color: #343A40;
  }
}

.card-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px 10px 10px 10px;
 }

.card-info {
  h3 {
    color: #343A40;
  }
  padding-left: 20px;
  padding-right: 20px;
  p {
    color: #343A40;
    font-size: 12px;
  }
  h6 {
    color: #27A351;
  }
}

#map{
  min-height: 100vh;
}

.container_card{
  display: flex;
}


.card-category a{
  color: white;
  font-size: 16px;
  text-shadow: 1px 1px 2px #343A40;

}

