.card {
  background-size: cover;
  background-position: center;
  height: 300px;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  margin: 15px 10px;
  display: flex;
  align-items: center;
  font-size: 22px;
  color: white;
  font-weight: bolder;
  text-shadow: 0 0 10px rgba(0,0,0,0.7);
}

.cards {
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.card-image {
  height: 150px;
  // background-image: url(asset-path("fight.jpeg"));
  // background-size: cover;
}
 .card-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
 }

.card-info {
  h3 {
    color: black;
  }
  p {
    color: black;
    font-size: 16px;
  }
}
